
/* Lumberjack */

@font-face {
  font-family: 'Lumberjack';
  src: url('fonts/Lumberjack.woff') format('woff'),
      url('fonts/Lumberjack.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Roboto */

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Light'), 
  local('RobotoCondensed-Light'), 
  url('fonts/Robotocondensedlight.woff2') format('woff2'), 
  url('fonts/Robotocondensedlight.woff') format('woff'), 
  url('fonts/Robotocondensedlight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Light Italic'), 
  local('RobotoCondensed-LightItalic'), 
  url('fonts/Robotocondensedlightitalic.woff2') format('woff2'), 
  url('fonts/Robotocondensedlightitalic.woff') format('woff'), 
  url('fonts/Robotocondensedlightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed'), 
    local('RobotoCondensed-Regular'), 
    url('fonts/Robotocondensed.woff2') format('woff2'), 
    url('fonts/Robotocondensed.woff') format('woff'), 
    url('fonts/Robotocondensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Italic'), 
  local('RobotoCondensed-Italic'), 
  url('fonts/Robotocondenseditalic.woff2') format('woff2'), 
  url('fonts/Robotocondenseditalic.woff') format('woff'), 
  url('fonts/Robotocondenseditalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Bold'), 
  local('RobotoCondensed-Bold'), 
  url('fonts/Robotocondensedbold.woff2') format('woff2'), 
  url('fonts/Robotocondensedbold.woff') format('woff'), 
  url('fonts/Robotocondensedbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Bold Italic'), 
  local('RobotoCondensed-BoldItalic'), 
  url('fonts/Robotocondensedbolditalic.woff2') format('woff2'), 
  url('fonts/Robotocondensedbolditalic.woff') format('woff'), 
  url('fonts/Robotocondensedbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* RFDewi */

@font-face {
  font-family: 'RFDewi';
  src: url('fonts/RFDewi-Black.woff2') format('woff2'),
      url('fonts/RFDewi-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RFDewi';
  src: url('fonts/RFDewi-Bold.woff2') format('woff2'),
      url('fonts/RFDewi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RFDewi';
  src: url('fonts/RFDewi-Semibold.woff2') format('woff2'),
      url('fonts/RFDewi-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RFDewi';
  src: url('fonts/RFDewi-Regular.woff2') format('woff2'),
      url('fonts/RFDewi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RFDewi';
  src: url('fonts/RFDewi-Light.woff2') format('woff2'),
      url('fonts/RFDewi-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RFDewi';
  src: url('fonts/RFDewi-Thin.woff2') format('woff2'),
      url('fonts/RFDewi-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}